body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #b71c1c;
  text-align: center;
  font-size: 2em;
}

a {
  color: #01579b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 8px;
}